body{
    font-family: 'Noto Sans TC', sans-serif;

}
h1{
    font-size: 50px;
}
.name-hilight{
    color: cyan;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left:5%;
}
.half-width img{
    width: 100%;
}